In [29]:
# import required modules
import requests
from bs4 import BeautifulSoup
import pandas as pd
import geopy
import os

In [ ]:
# get URL
page = requests.get("https://en.wikipedia.org/wiki/List_of_rugby_union_competitions")
soup = BeautifulSoup(page.content, 'html.parser')

In [87]:
current_dir = os.getcwd()

folder = "/data/"
file = 'all_games_RWC2023_fixed.csv'
def switch_home(row):
    if row['Team B'] == 'New Zealand':
        row['Team A'], row['Team B'] = row['Team B'], row['Team A']
        row['Score A'], row['Score B'] = row['Score B'], row['Score A']
    if row['Team A'] == 'New Zealand':
        row['Neut.'] = False
    return row
    	
rwc2023_results= pd.read_csv(current_dir+folder+file)
rwc2023_results_filtered = rwc2023_results[['Date', 'Team A', 'Team B', 'Score A', 'Score B']]
rwc2023_results_filtered['City'] = 'Auckland'
rwc2023_results_filtered['Neut.'] = True
rwc2023_results_filtered = rwc2023_results_filtered.apply(switch_home, axis=1)
rwc2023_results_filtered.rename(columns={'Team A':'home_team', 'Team B' : 'away_team', 'Score A':'home_score', 'Score B': 'away_score'}, inplace=True)
rwc2023_results_filtered['Tourn'] = 'WC'
rwc2023_results_filtered['Venue'] = 'Na'
rwc2023_results_filtered['country'] = 'New Zealand'
rwc2023_results_filtered['Date'] = rwc2023_results_filtered['Date'].apply(lambda date: pd.to_datetime(date, dayfirst=True, format='%d-%b-%Y'))

/tmp/ipykernel_12434/1761881077.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rwc2023_results_filtered['City'] = 'Auckland'
/tmp/ipykernel_12434/1761881077.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rwc2023_results_filtered['Neut.'] = True

In [81]:
rwc2023_results_filtered

,Date,home_team,away_team,home_score,away_score,City,Neut.,Tourn,Venue
0,2023-10-28,New Zealand,South Africa,11,12,Auckland,False,WC,Na
1,2023-10-27,Argentina,England,23,26,Auckland,True,WC,Na
2,2023-10-21,England,South Africa,15,16,Auckland,True,WC,Na
3,2023-10-20,New Zealand,Argentina,44,6,Auckland,False,WC,Na
4,2023-10-15,France,South Africa,28,29,Auckland,True,WC,Na
5,2023-10-15,England,Fiji,30,24,Auckland,True,WC,Na
6,2023-10-14,New Zealand,Ireland,28,24,Auckland,False,WC,Na
7,2023-10-14,Wales,Argentina,17,29,Auckland,True,WC,Na
8,2023-10-08,Fiji,Portugal,23,24,Auckland,True,WC,Na
9,2023-10-08,Tonga,Romania,45,24,Auckland,True,WC,Na
10,2023-10-08,Japan,Argentina,27,39,Auckland,True,WC,Na
11,2023-10-07,Ireland,Scotland,36,14,Auckland,True,WC,Na
12,2023-10-07,England,Samoa,18,17,Auckland,True,WC,Na
13,2023-10-07,Wales,Georgia,43,19,Auckland,True,WC,Na
14,2023-10-06,France,Italy,60,7,Auckland,True,WC,Na
15,2023-10-05,New Zealand,Uruguay,73,0,Auckland,False,WC,Na
16,2023-10-01,South Africa,Tonga,49,18,Auckland,True,WC,Na
17,2023-10-01,Australia,Portugal,34,14,Auckland,True,WC,Na
18,2023-09-30,Scotland,Romania,84,0,Auckland,True,WC,Na
19,2023-09-30,Fiji,Georgia,17,12,Auckland,True,WC,Na
20,2023-09-30,Argentina,Chile,59,5,Auckland,True,WC,Na
21,2023-09-29,New Zealand,Italy,96,17,Auckland,False,WC,Na
22,2023-09-28,Japan,Samoa,28,22,Auckland,True,WC,Na
23,2023-09-27,Uruguay,Namibia,36,26,Auckland,True,WC,Na
24,2023-09-24,Wales,Australia,40,6,Auckland,True,WC,Na
25,2023-09-24,Scotland,Tonga,45,17,Auckland,True,WC,Na
26,2023-09-23,South Africa,Ireland,8,13,Auckland,True,WC,Na
27,2023-09-23,England,Chile,71,0,Auckland,True,WC,Na
28,2023-09-23,Georgia,Portugal,18,18,Auckland,True,WC,Na
29,2023-09-22,Argentina,Samoa,19,10,Auckland,True,WC,Na
30,2023-09-21,France,Namibia,96,0,Auckland,True,WC,Na
31,2023-09-20,Italy,Uruguay,38,17,Auckland,True,WC,Na
32,2023-09-17,England,Japan,34,12,Auckland,True,WC,Na
33,2023-09-17,Australia,Fiji,15,22,Auckland,True,WC,Na
34,2023-09-17,South Africa,Romania,76,0,Auckland,True,WC,Na
35,2023-09-16,Ireland,Tonga,59,16,Auckland,True,WC,Na
36,2023-09-16,Wales,Portugal,28,8,Auckland,True,WC,Na
37,2023-09-16,Samoa,Chile,43,10,Auckland,True,WC,Na
38,2023-09-15,New Zealand,Namibia,71,3,Auckland,False,WC,Na
39,2023-09-14,France,Uruguay,27,12,Auckland,True,WC,Na
40,2023-09-10,Wales,Fiji,32,26,Auckland,True,WC,Na
41,2023-09-10,South Africa,Scotland,18,3,Auckland,True,WC,Na
42,2023-09-10,Japan,Chile,42,12,Auckland,True,WC,Na
43,2023-09-09,England,Argentina,27,10,Auckland,True,WC,Na
44,2023-09-09,Australia,Georgia,35,15,Auckland,True,WC,Na
45,2023-09-09,Ireland,Romania,82,8,Auckland,True,WC,Na
46,2023-09-09,Italy,Namibia,52,8,Auckland,True,WC,Na
47,2023-09-08,New Zealand,France,13,27,Auckland,False,WC,Na

In [64]:
#look for all tournament
tournament_links = []
tournament_table = soup.find_all('table')[0]
tournament_row = tournament_table.find_all('tr')

for tournament in tournament_row:
    tf = tournament.find('td')
    a = tournament.find('a',href=True)
    if a:
        if 'Women' not in a['href']:
            tournament_links.append(a['href'][6:])
tournament_links

['Rugby_World_Cup',
 'Six_Nations_Championship',
 'The_Rugby_Championship',
 'Rugby_Europe_International_Championships',
 'World_Rugby_Pacific_Nations_Cup',
 'World_Rugby_Pacific_Challenge',
 'World_Rugby_Nations_Cup',
 'Americas_Rugby_Championship',
 'Asia_Rugby_Championship']

page = requests.get(f"https://en.wikipedia.org/wiki/2022_Rugby_Championship", allow_redirects=False, timeout=5)
soup = BeautifulSoup(page.content, 'html.parser')
fixtures =  soup.find_all(class_='vevent summary')
results = []
for i in range(len(fixtures)):
    try:
        tables = fixtures[i].find_all('table')
        teams = tables[1].find_all('td', class_='vcard')
        team_a = teams[0].find('a').text
        team_b = teams[1].find('a').text
        info = fixtures[i].find('tr')
        td = info.find('td')
        td.select("br")[0].replace_with("\n")
        date= td.text.split('\n')[0]
        #find the score
        table_result = tables[1]
        result = table_result.find_all('td')[1].text
        #find the venue
        venue = tables[2]
        venue.select("br")[0].replace_with("\n")
        venue = venue.text.split('\n')[0]
        results.append([f'{team_a}_v_{team_b}', date, result, venue])
    except Exception as e:
        print(f"An error occurred: {e} {year} {url}")
        continue

In [6]:
def result_scrapping(year, url):
    try:
        page = requests.get(f"https://en.wikipedia.org/wiki/{year}_{url}", allow_redirects=False, timeout=5)
        results = []
        if page.status_code == 200:
            soup = BeautifulSoup(page.content, 'html.parser')
            fixtures =  soup.find_all(class_='vevent summary')
            
            for i in range(len(fixtures)):
                try:
                    tables = fixtures[i].find_all('table')
                    teams = tables[1].find_all('td', class_='vcard')
                    team_a = teams[0].find('a').text
                    team_b = teams[1].find('a').text
            
                    info = fixtures[i].find('tr')
                    td = info.find('td')
                    td.select("br")[0].replace_with("\n")
                    date= td.text.split('\n')[0]
                    #remove trailing info
                    date_str = date[:date.rindex(f'{year}') + len(f'{year}')]
                    #find the score
                    table_result = tables[1]
                    result = table_result.find_all('td')[1].text
                    #find the venue
                    venue = tables[2]
                    venue.select("br")[0].replace_with("\n")
                    venue = venue.text.split('\n')[0]
                    results.append([f'{team_a}_v_{team_b}', date_str, result, venue])
                except Exception as e:
                    print(f"An error occurred: {e} {year} {url}")
                    continue
    except Exception as e:
        print(f"An error occurred while fetching page: {e}")
    
    return results

# Obtain match results

In [65]:
scapped_results = {}
years= [year for year in range(2021,2024)]
print()
urls = ['Six_Nations_Championship','Rugby_Championship','Rugby_Europe_International_Championships',
 'World_Rugby_Pacific_Nations_Cup',
 'World_Rugby_Pacific_Challenge',
 'World_Rugby_Nations_Cup',
 'Americas_Rugby_Championship',
 'Asia_Rugby_Championship'
       ]
for url in urls:
    tournament_results = [result_scrapping(years[i], url) for i in range(len(years))] 
    scapped_results[url]=tournament_results

An error occurred: list index out of range 2022 Asia_Rugby_Championship
An error occurred: list index out of range 2022 Asia_Rugby_Championship
An error occurred: substring not found 2022 Asia_Rugby_Championship

In [66]:
#create a csv file with the results,
import re
result_df = pd.DataFrame(columns=['Date', 'home_team','away_team','home_score','away_score', 'Tourn','Venue', 'city', 'country', 'Neut.'])
#access each tournament
dates = []
home_score = []
away_score = []
home_team = []
away_team = []
competition = []
stadium = []
city = []
for entry in scapped_results:
    tournaments = scapped_results[entry]
    #access each year
    for i in range(len(tournaments)):
        #access each games
        for j in range(len(tournaments[i])):
            score = tournaments[i][j][2]
            scores = re.split('–|-', score)
            if scores[0] != 'Postponed[b]':
                dates.append(tournaments[i][j][1])
                
                home_score.append(int(scores[0]))
                away_score.append(int(scores[1]))
                teams = tournaments[i][j][0].split('_v_')
                home_team.append(teams[0])
                away_team.append(teams[1])
                competition.append(entry)
                geo = tournaments[i][j][-1].split(', ')
                stadium.append(geo[0])
                city.append(geo[1])

In [67]:
date_parsed = [pd.to_datetime(date,dayfirst=True, format='%d %B %Y') for date in dates]
result_df['Date']= date_parsed
result_df['home_score']= home_score
result_df['away_score']= away_score
result_df['home_team']= home_team
result_df['away_team']= away_team
result_df['Tourn']= competition
result_df['Venue']= stadium
result_df['city'] = city

In [ ]:
#add the rubycology data

In [68]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "AGexercice", timeout=10)
def find_country(city, geo):
    location = geo.geocode(city, language='en')
    if location:

        country_name = location.raw['display_name'].split(', ')[-1]
        if country_name == 'United Kingdom':
            if location.raw['display_name'].split(', ')[-2] != 'England':
                country_name = location.raw['display_name'].split(', ')[1]
            else:
                country_name = 'England'
        return country_name
    return None

In [69]:
result_df.country = result_df.apply(lambda row : find_country(row['city'], geolocator), axis=1 )

In [70]:
#  Add the neutrtal when necessary
result_df['Neut.'] = result_df.apply(lambda row: row['home_team']!=row['country'], axis=1)

In [71]:
result_df

,Date,home_team,away_team,home_score,away_score,Tourn,Venue,city,country,Neut.
0,2021-02-06,Italy,France,10,50,Six_Nations_Championship,Stadio Olimpico,Rome,Italy,False
1,2021-02-06,England,Scotland,6,11,Six_Nations_Championship,Twickenham Stadium,London,England,False
2,2021-02-07,Wales,Ireland,21,16,Six_Nations_Championship,Millennium Stadium,Cardiff,Wales,False
3,2021-02-13,England,Italy,41,18,Six_Nations_Championship,Twickenham Stadium,London,England,False
4,2021-02-13,Scotland,Wales,24,25,Six_Nations_Championship,Murrayfield Stadium,Edinburgh,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
94,2022-11-22,Nepal,Bangladesh,12,43,Asia_Rugby_Championship,Rabindra Sarobar Stadium,Kolkata,India,True
95,2022-11-25,India,Bangladesh,82,0,Asia_Rugby_Championship,Rabindra Sarobar Stadium,Kolkata,India,False
96,2023-06-03,Malaysia,South Korea,3,27,Asia_Rugby_Championship,Siadinha Hamzah Stadium,Kuala Lumpur,Malaysia,False
97,2023-06-10,Hong Kong,Malaysia,88,9,Asia_Rugby_Championship,Hong Kong Football Club Stadium,Hong Kong,China,True
98,2023-06-17,Hong Kong,South Korea,30,10,Asia_Rugby_Championship,Hong Kong Football Club Stadium,Hong Kong,China,True

In [88]:
result_d_2 = pd.concat([result_df, rwc2023_results_filtered], ignore_index=True)

In [89]:
result_d_2

,Date,home_team,away_team,home_score,away_score,Tourn,Venue,city,country,Neut.,City
0,2021-02-06,Italy,France,10,50,Six_Nations_Championship,Stadio Olimpico,Rome,Italy,False,NaN
1,2021-02-06,England,Scotland,6,11,Six_Nations_Championship,Twickenham Stadium,London,England,False,NaN
2,2021-02-07,Wales,Ireland,21,16,Six_Nations_Championship,Millennium Stadium,Cardiff,Wales,False,NaN
3,2021-02-13,England,Italy,41,18,Six_Nations_Championship,Twickenham Stadium,London,England,False,NaN
4,2021-02-13,Scotland,Wales,24,25,Six_Nations_Championship,Murrayfield Stadium,Edinburgh,Scotland,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
142,2023-09-09,England,Argentina,27,10,WC,Na,NaN,New Zealand,True,Auckland
143,2023-09-09,Australia,Georgia,35,15,WC,Na,NaN,New Zealand,True,Auckland
144,2023-09-09,Ireland,Romania,82,8,WC,Na,NaN,New Zealand,True,Auckland
145,2023-09-09,Italy,Namibia,52,8,WC,Na,NaN,New Zealand,True,Auckland
146,2023-09-08,New Zealand,France,13,27,WC,Na,NaN,New Zealand,False,Auckland

In [27]:
folder = 'data/results_international/'
result_df.to_excel(folder+'scrap_out.xlsx')